@import 'scss/_variables.scss';
@import 'scss/_fonts.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $nsSlate-Darkest;
  color: white;
  font-family: 'Texta', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
}

h1,h2,h3,h4{
  text-transform: uppercase;
  font-weight: 800;
}

h1{
  font-size: 4em;
}

a{
  color: $nsOrange;
  text-decoration: none;
  
  &:hover{
    text-decoration: underline;
  }

}

img{max-width: 100%;}

hr{border: 1px solid $nsOrange;}

/*helper class for youtube videos*/
.embed-responsive{margin-bottom:15px;}