@font-face {
  font-family: 'Texta';
  font-weight: 100;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Thin-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Thin-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Thin-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Thin-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Thin-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 100;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Thin-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Thin-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Thin-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Thin-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Thin-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Thin-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 200;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Light-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Light-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Light-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Light-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Light-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Light-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 200;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Light-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Light-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Light-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Light-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Light-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Light-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 300;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Book-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Book-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Book-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Book-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Book-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Book-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 300;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Book-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Book-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Book-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Book-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Book-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Book-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 400;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Regular-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Regular-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Regular-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Regular-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Regular-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 400;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 500;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Medium-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Medium-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Medium-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Medium-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Medium-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 500;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Medium-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Medium-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Medium-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Medium-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Medium-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Medium-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 600;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Bold-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Bold-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Bold-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Bold-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Bold-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 600;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Bold-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Bold-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Bold-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Bold-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Bold-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Bold-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 700;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Heavy-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Heavy-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 700;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Heavy-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Heavy-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Heavy-Italic-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 800;
  font-style: normal;
  src: url("http://files.nathansimpson.design/fonts/Texta-Black-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Black-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Black-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Black-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Black-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Black-webfont.svg#webfont") format("svg"); }
@font-face {
  font-family: 'Texta';
  font-weight: 800;
  font-style: italic;
  src: url("http://files.nathansimpson.design/fonts/Texta-Black-Italic-webfont.eot");
  src: url("http://files.nathansimpson.design/fonts/Texta-Black-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://files.nathansimpson.design/fonts/Texta-Black-Italic-webfont.woff") format("woff"), url("http://files.nathansimpson.design/fonts/Texta-Black-Italic-webfont.woff2") format("woff2"), url("http://files.nathansimpson.design/fonts/Texta-Black-Italic-webfont.ttf") format("truetype"), url("http://files.nathansimpson.design/fonts/Texta-Black-Italic-webfont.svg#webfont") format("svg"); }
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
  font-family: 'Texta', sans-serif;
  font-weight: 300;
  font-size: 1.25em; }

h1 {
  font-weight: 300;
  color: #FA6D01; }

h2, h3, h4 {
  font-weight: 100; }

a {
  color: #FA6D01;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; }

hr {
  border: 3px solid #FA6D01; }

/* Extra Small Devices, Phones */
@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
/* Small Devices, Tablets */
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
/* Medium Devices, Desktops */
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
/*helper class for youtube videos*/
.embed-responsive {
  margin-bottom: 15px; }

.hero-half {
  background: #252D34;
  padding: 15% 20px;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%; }

.hero-half:first-of-type {
  background-image: url(http://files.nathansimpson.design/nathansnow.jpg);
  background-size: cover; }

@media (min-width: 768px) {
  .hero-half {
    width: 50%; }

  .hero-half:first-of-type {
    min-height: 400px; } }
input, select, textarea {
  color: #fff;
  display: block;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  margin: 5px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: none;
  background: #252D34;
  box-sizing: border-box;
  transition: padding 0.5s, background 0.5s; }

select:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.4); }

input:focus, select:focus, textarea:focus {
  background: #FA6D01;
  outline: none;
  padding: 1rem 1rem; }

input[type="submit"] {
  display: initial;
  width: initial;
  background: #FA6D01; }

.portfolio_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.portfolio_item {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 3px; }

.portfolio_item_label {
  display: none; }

.portfolio_item_image {
  width: 100%; }

.portfolio_item:hover .portfolio_item_label {
  display: block;
  position: absolute;
  bottom: 6px;
  font-size: 1.5em;
  line-height: 1.2em;
  color: white;
  z-index: 3;
  padding: 10px; }

.portfolio_item:hover .portfolio_item_gradient {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: none;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(37, 45, 52, 0), #252D34);
  background: -o-linear-gradient(rgba(37, 45, 52, 0), #252D34);
  background: -moz-linear-gradient(rgba(37, 45, 52, 0), #252D34);
  background: linear-gradient(rgba(37, 45, 52, 0), #252D34); }

.resume__item {
  background: #252D34;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 0.9em; }

.resume__item h2, .resume__item h3 {
  margin: 0; }

.hero-half {
  background: #252D34;
  padding: 15% 20px;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%; }

.hero-half:first-of-type {
  background-image: url(http://files.nathansimpson.design/nathansnow.jpg);
  background-size: cover; }

@media (min-width: 768px) {
  .hero-half {
    width: 50%; }

  .hero-half:first-of-type {
    min-height: 400px; } }
input, select, textarea {
  color: #fff;
  display: block;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  margin: 5px;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: none;
  background: #252D34;
  box-sizing: border-box;
  transition: padding 0.5s, background 0.5s; }

select:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.4); }

input:focus, select:focus, textarea:focus {
  background: #FA6D01;
  outline: none;
  padding: 1rem 1rem; }

input[type="submit"] {
  display: initial;
  width: initial;
  background: #FA6D01; }

.portfolio_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.portfolio_item {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 3px; }

.portfolio_item_label {
  display: none; }

.portfolio_item_image {
  width: 100%; }

.portfolio_item:hover .portfolio_item_label {
  display: block;
  position: absolute;
  bottom: 6px;
  font-size: 1.5em;
  line-height: 1.2em;
  color: white;
  z-index: 3;
  padding: 10px; }

.portfolio_item:hover .portfolio_item_gradient {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: none;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(37, 45, 52, 0), #252D34);
  background: -o-linear-gradient(rgba(37, 45, 52, 0), #252D34);
  background: -moz-linear-gradient(rgba(37, 45, 52, 0), #252D34);
  background: linear-gradient(rgba(37, 45, 52, 0), #252D34); }

.resume__item {
  background: #252D34;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 0.9em; }

.resume__item h2, .resume__item h3 {
  margin: 0; }

.header,
.nav ul {
  display: flex;
  flex-direction: column; }

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em; }

.header__logo {
  height: 60px;
  width: auto; }
  .header__logo g .outline {
    fill: #FA6D01;
    transition: fill 0.5s; }
  .header__logo g .solid {
    fill: black;
    transition: fill 0.5s; }
  .header__logo:hover g .outline {
    fill: white; }
  .header__logo:hover g .solid {
    fill: #FA6D01; }

.header__logo g .solid {
  fill: black; }

.header__logo:hover g .outline {
  fill: white; }

.header__logo:hover g .solid {
  fill: #FA6D01; }

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }
.nav a {
  font-size: 1em;
  display: block;
  text-decoration: none;
  padding: .7em;
  text-align: center;
  color: white;
  border-bottom: 1px solid #999;
  transition: background-color .3s, color .3s; }
  .nav a:hover {
    color: #FA6D01; }
.nav .nav__item--active {
  color: #FA6D01; }

.site-content {
  min-height: 600px;
  background: burlywood; }

@media only screen and (min-width: 500px) {
  .nav ul {
    flex-direction: row;
    justify-content: space-between; }
    .nav ul a {
      border-bottom: 0; } }
@media only screen and (min-width: 700px) {
  .header {
    flex-direction: row; }

  .logo {
    margin-bottom: 0; }

  .nav {
    margin-left: auto; } }
footer {
  text-align: center; }

footer ul {
  list-style: none;
  padding: 0; }

footer ul li {
  margin: 0 auto;
  display: inline-block;
  margin: 5px; }

footer ul li a {
  color: white;
  text-decoration: none; }

footer ul li a:hover {
  color: #FA6D01; }

/*# sourceMappingURL=style.css.map */
