//Hero
.hero-half{
  background: #252D34;
  padding: 15% 20px;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%;
}

.hero-half:first-of-type{
  background-image: url(http://files.nathansimpson.design/nathansnow.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .hero-half{width: 50%;}
  .hero-half:first-of-type{min-height: 400px;}
}

//Forms
input, select, textarea{
	color: #fff;
	display: block;
	width:100%;
	max-width:400px;
  font-size: 1rem;
	margin:5px;
  padding: .375rem .75rem;
  border-radius: .25rem;
	border:none;
	background: $nsSlate;
	box-sizing: border-box;
  transition: padding 0.5s, background 0.5s;
}

select:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

input::placeholder,
textarea::placeholder{
	color: rgba(255,255,255,0.4);
}

input:focus, select:focus, textarea:focus{
	background: $nsOrange;
	outline: none;
  padding: 1rem 1rem;
}

input[type="submit"]{
  display: initial;
  width: initial;
  background: $nsOrange;
}

//resume
.resume__item{
  background: $nsSlate;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.resume__item h2,.resume__item h3{margin:0;}
