.hero-half{
  background: #252D34;
  padding: 15% 20px;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%;
}

.hero-half:first-of-type{
  background-image: url(http://files.nathansimpson.design/nathansnow.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .hero-half{width: 50%;}
  .hero-half:first-of-type{min-height: 400px;}
}




.portfolio_gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.portfolio_item {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin:3px;
}

.portfolio_item_label {
  display: none;
}

.portfolio_item_image{
  width:100%;
}

.portfolio_item:hover .portfolio_item_label {
  display: block;
  position: absolute;
  bottom: 6px;
  font-size: 1.5em;
  line-height: 1.2em;
  color: white;
  z-index: 3;
  padding: 10px;
}
.portfolio_item:hover .portfolio_item_gradient {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: none;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(37, 45, 52, 0), $nsDarkGrey);
  background: -o-linear-gradient(rgba(37, 45, 52, 0), $nsDarkGrey);
  background: -moz-linear-gradient(rgba(37, 45, 52, 0), $nsDarkGrey);
  background: linear-gradient(rgba(37, 45, 52, 0), $nsDarkGrey);
}
