@font-face{
	font-family: 'Texta';
  font-weight: 500;
	font-style: normal;
	
	
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-webfont.eot');
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-webfont.woff') format('woff'),
       url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-webfont.woff2') format('woff2'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-webfont.ttf') format('truetype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'Texta';
  font-weight: 500;
  font-style: italic;
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-Italic-webfont.eot');
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-Italic-webfont.woff') format('woff'),
       url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-Italic-webfont.woff2') format('woff2'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-Italic-webfont.ttf') format('truetype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Medium-Italic-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Texta';
  font-weight: 800;
  font-style: normal;
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-webfont.eot');
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-webfont.woff') format('woff'),
       url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-webfont.woff2') format('woff2'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-webfont.ttf') format('truetype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'Texta';
  font-weight: 800;
  font-style: italic;
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-Italic-webfont.eot');
	src: url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-Italic-webfont.woff') format('woff'),
       url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-Italic-webfont.woff2') format('woff2'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-Italic-webfont.ttf') format('truetype'),
	     url('https://nsgd.com.au/filesnathansimpsondesign/fonts/Texta-Black-Italic-webfont.svg#webfont') format('svg');
}
